<div class="timeline-image"><img class="rounded-circle img-fluid" src="{{ image.path }}" alt="{{ image.alt }}" /></div>
<div class="timeline-panel">
    <div class="timeline-heading">
        <h4>{{ datePeriod }}</h4>
        <a href="{{ url }}" target="_blank" style="color: #343a40;">
            <h4 class="subheading">{{ title }}</h4>
        </a>
    </div>
    <div class="timeline-body">
        <p class="text-muted">{{ description }}</p>
    </div>
</div>